* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


ul {
    list-style: none;
}


body {
    background: linear-gradient(#ffffff, #ffff, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
} 


.app {
    margin: auto;
    width: fit-content;
    height: 100vh;
}


header {
    display: flex;
    flex-direction: row;
    margin: 4%; 
    text-align: center;
    color: #000000; 
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid #a1a0a0;
    
}

.img {
    margin: auto;
    max-width: 15%; 
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card {
    margin: 25px;
    padding: 32px 23px;
    text-align: center;

    background: #000000;
    border-bottom: 10px solid #52ce2291;
    border-radius: 10px;
}


.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid #575555ab;
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #53ce22ea;
}


.card h2 span {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #575555ab;
}

.card ul li strong {
    font-weight: 900;
    font-size: 20px;
    line-height: 125%;

    color: #ffffff;
}



@media screen and (max-width: 1024px) and (min-width: 320px) {

    header {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }

    .cards {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .img {
        max-width: 30%;
        margin-bottom: 2.5rem;
    }


    
}